@import './base.css';
*::-webkit-scrollbar {
  width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: var(--white-pink);
  height: 80vh;
  border:0;
  border-radius: 100vw;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--dark-purple);
  border:0;
  border-radius: 15px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--light-pink);
}

#app {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

}
